<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex-App</title>
    <link rel="stylesheet" href="../styles/main-style.css">
</head>
<body>
    <div class="pokedex-box">
        <nav id="pokemon-nav" class="scroll-box">
            <ul id="pokemon-list"></ul>
                <div id="spinner" class="spinner"></div>
        </nav>
        <section class="info-box">
            <div class="search">
                <input class="search_input"><button id='btn-search'><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#e34040" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                  </svg></button>
            </div>
            <div class="information">
                <div class="pokemon-data">
                    
                </div>
                <div class="pokemon-details">
                    
                </div>
                <h3 class="evolution-title"></h3>
                <div class="pokemon-evolution">
                    
                </div>
                
            </div>
           
            
        </section>
    </div>
    <script src="../scripts/api_connect.js" type="module"></script>

    
</body>
</html>